.video-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  animation: show 0.5s ease-in-out;

  .message {
    position: fixed;
    top: 10%;
    right: 20%;
  }

  @keyframes show {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .conteiner-video {
    position: relative;
    width: 96%;
    height: 53%;
    margin: 1rem auto;

    video {
      position: absolute;
      width: 100%;
      z-index: 20;
      height: 100%;
      left: 0px;
      top: 0px;
    }
  }

  button {
    padding: 1rem;
    background-color: $blue;
    color: $white;
    border: none;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }

  button:hover {
    background-color: $interativa_primiryColor;
    color: $white;
    border: 0.1rem solid transparent;
  }

  .icon-close {
    position: absolute;
    top: 5%;
    right: 5%;

    svg {
      color: $interativa_primiryColor;
      font-size: 3rem;
      cursor: pointer;
    }
  }
}
