.message {
  position: absolute;
  min-height: 6.7rem;
  width: 36rem;
  max-width: 90%;
  border-radius: 1.2rem;
  padding: 1.6rem 2.2rem 1.7rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  animation: show 0.5s ease-in-out;

  @keyframes show {
    0% {
      transform: translateX(150%);
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.conteiner-error {
  background-color: $error;
}

.conteiner-sucess {
  background-color: $success;
}
